<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Problems</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css-form/problems.css">
</head>
<body>
    <center><h1 class="main-heading">problems</h1></center>
    <div class="row">
        <img src="./images-form/bg-heading-02.jpg" alt="image" width="250px" height="250px" class="main-image">
        <p class="para-style">This portion will show a dynamic problem statement <br><br>
            <button class="btn btn-success">Upvote</button>
            <button class="btn btn-warning">Downvote</button>
            <button class="btn btn-info">Answer this question</button>
        </p><br>
    </div>

</body>
</html>